

	
	#nav{
		list-style:none;
		margin:0px;
		padding:0px;
		font-family:Tahoma, Geneva, sans-serif;
		}
	#nav li {
		margin:2px;
		padding:2px;
		float:left;
		}
	#nav li a {
		display:block;
		width:100px;
		padding:7px 0;
		text-decoration:none;
		text-align:center;
		font-size:11px;
		color:#FFFFFF;
		background-color:#000000;
		}
	#nav li a:hover {
		color:#000;
		background-color:#F60;
		}	
		
		
		

	
	#boton{
		list-style:none;
		margin:0px;
		padding:0px;
		font-family:Tahoma, Geneva, sans-serif;
		}
		
	#boton li a {
		display:block;
		width:100px;
		padding:7px 0;
		text-decoration:none;
		text-align:center;
		font-size:11px;
		color:#FFFFFF;
		background-color:#000000;
		}
	#boton li a:hover {
		color:#000;
		background-color:#F60;
		}
		
		
		
		
		
		
	#nav2{
		list-style:none;
		margin:0px;
		padding:0px;
		}
	#nav2 li {
		margin:2px;
		padding:2px;
		float:none;
		}
	#nav2 li a {
		display:block;
		width:100px;
		padding:7px 0;
		text-decoration:none;
		text-align:center;
		font-size:11px;
		color:#FFFFFF;
		background-color:#000000;
		}
	#nav2 li a:hover {
		color:#000;
		background-color:#F60;
		}

	


	.down
	{
		background-color:#000;
		color:#FFF;
		font-size:12px;
		text-align:left;
		font-family:Tahoma, Geneva, sans-serif;
	}
	
	.fondo_main
	{
		background-color:#999;
		}
		
	.fondo_blanco
	{
		background-color:#FFF;
		}
	
	.fondo_negro
	{
		background-color:#000;
	}
	
	.texto
	{
		text-align:justify;
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
	}
	
	.texto2
	{
		text-align:justify;
		font-family:Arial, Helvetica, sans-serif;
		font-size:10px;
		color:#FFF
	}
	
	.texto3
	{
		text-align:justify;
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#000;
	}
	
	.boton
	{
	background:-moz-linear-gradient(#f9f9f9 0%,#DADADA 100%);
	background:-ms-linear-gradient(#f9f9f9 0%,#DADADA 100%); 
	background:-o-linear-gradient(#f9f9f9 0%,#DADADA 100%); 
	background:-webkit-linear-gradient(#f9f9f9 0%,#DADADA 100%); 
	background:linear-gradient(#f9f9f9 0%,#DADADA 100%);
	border:solid 1px #DEDEDE; 
	border-radius:5px;
	text-align:center;
	padding:5px; 
	color:#333; 
	width:75px; 
	} 
	
	.boton:hover{
	background:-moz-linear-gradient(#fff 0%,#DEDEDE 100%);
	color:#999; 
	}
	